<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
      <ion-button (click)="agregarTarea()">
        Nuevo
      </ion-button>
    
    
  </ion-list>
  
  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <ion-label>
        <h2>{{ tarea.titulo }}</h2>
        <p>{{ tarea.descripcion }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="verTarea(tarea.id)">Ver</ion-button>
      <ion-button fill="clear" (click)="editarTarea(tarea.id)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="eliminarTarea(tarea.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  
</ion-content>